* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
}

.game-field {
  width: 100vw;
  height: 100vh;
  background-color: tan;
  transition: background-color 5s;
}

.game-table {
  position: fixed;
  top: calc((100% - 172px) / 2);
  left: calc((100% - 371px) / 2);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.game-table__level,
.game-table__time {
  font-size: 75px;
  pointer-events: none;
  color: inherit;
  transition: color 5s;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5)) invert(100%);
}

.game-table__level::before {
  content: 'Level: ';
}

.game-table__time::before {
  content: 'time: ';
}

.red-circle {
  display: inline-block;
  border-radius: 50%;
  background-color: darkred;
  transform: translate(0px, 0px);
}

.start-btn {
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}