* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.game-field {
  width: 100vw;
  height: 100vh;
  background-color: tan;
  transition: background-color 1.5s;
}

.game-table {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.game-table__level,
.game-table__time {
  font-size: 75px;
  color: tomato;
  pointer-events: none;
}

.game-table__level::before {
  content: 'Level: ';
}

.game-table__time::before {
  content: 'Countdown: ';
}

.red-circle {
  display: inline-block;
  border-radius: 50%;
  background-color: darkred;
  transform: translate(0px, 0px);
}