* {
    margin: 0;
    padding: 0;
}
.game-field {
    width: 100vw;
    height: 100vh;
    background-color: tan;
    transition: background-color 1.5s;
}

.red-circle {
    display: inline-block;
    border-radius: 50%;
    background-color: darkred;
    transform: translate(0px,0px);
}